
.filter-panel {
	max-height: 175px;
	overflow: hidden;
}
.filter {
	padding: 6px;
}
.filter-header {
	font-size: 20px;
}
.filter-name {
	font-size: 16px;
}

.option-left {
	float: left;
}

.option-right {
	float: right;
}
/*
.annoying {
	min-width: 100%;
	word-wrap: break-word;
}

.col-sm-9 {
	max-width: 70%;
	word-wrap: break-word;
}

.col-sm-3 {
	max-width: 30%;
}

*/