body {
	height: 100%;
}

.center-text {
	text-align:center;
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.query-bar {
	width: 550px;
}

.search-button{
	width: 200px;
	font-size: 20px;
}

.row{
	padding:10px;
}

.center-vertically {
	vertical-align: middle;
}