/*.carousel-height {
	height: 150px;
	overflow: visible;
}*/
.container-fluid{
	padding-left:70px;
	padding-right: 300px;
}
.carousel-container{
	padding-left:70px;
	padding-right: 70px;
	background-color: #444444;
	color: #eeeeee;
}
.row {
	display: flex;
}
.search-header{
	padding-top: 70px;
	/*background: #eeeeee;*/
}
.main-body {
	padding-top: 40px;
	/*width: 80%;*/
}



