/*.carousel-height {
	height: 150px;
	overflow: visible;
}*/
.container-fluid{
	padding-left:70px;
	padding-right: 70px;
}
.carousel-container{
	padding-left:70px;
	padding-right: 70px;
	/*background-color: #444444;*/
	background-color: #eeeeee;
	/*color: #eeeeee;*/
}
.filter-bar{
	padding-left: 20px;

}
.row {
	display: flex;
}
.query-bar-input-group{
	min-width: 1000px;
	padding-left: 5px;

}
.search-header{
	padding-top: 70px;
	/*background: #eeeeee;*/
}
.main-body {
	padding-top: 40px;
	/*width: 80%;*/
}


.table-main-body{
	display: none;
}
