{% block styles %}
{% load staticfiles %}
<link rel='stylesheet' href="{% static 'search_engine/_filter_bar.css'%}" type='text/css' />
{% endblock %}

{% for fil_name, fil_vals in filter_data.items %}

<!-- note the data-toggle="dropdown" is what's causing it to close on any selection ... I need to change that -->
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle btn-block" href="#" role="button" id="dropdownMenuLink"  aria-haspopup="true" aria-expanded="false">
    {{fil_name}}
  </a>

  <div class="dropdown-menu filter-dropdown" id={{fil_name}} >
	{% for op in fil_vals %}

    <a class="dropdown-item">
		<input class="{{fil_name}}-checkbox option-checkbox" type="checkbox" id="{{op.0}}">
		<label  for="{{op.0}}">
			{{op.0}}
			{{op.1}}
		</label>
    </a>

	{% endfor %}
  </div>
</div>
{% endfor %}

