{% block styles %}
{% load staticfiles %}
<link rel='stylesheet' href="{% static 'search_engine/_package_table.css'%}" type='text/css' />
{% endblock %}

<table class="table table-hover table-responsive package-table">
	<caption>
		Select up to 3 packages to compare. Click again to deselect.

		{{table_data.private}}
	</caption>
	<thead>
		<tr>
			<th class="table-header"> </th>

			{% for iter,package_name in table_data.Name.items %}
				<th class="{{iter}}-table package-table-header"> {{package_name}} </th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for quality, values in table_data.items %}
			<tr>
				<td class="{{quality}}-table-column metadata"> {{quality}} </td>

				{% for iter, val  in values.items %}
			 	<td class="{{iter}}-table {{iter}}-table-value package-table-row"><div class="package-table-td">{{val | urlize}}</div></td>
			 	{% endfor %}
			</tr>

		{% endfor %}
	</tbody>
</table>