{% block styles %}
{% load staticfiles %}
{% load info_pane_extras %}
<link rel='stylesheet' href="{% static 'search_engine/_package_carousel.css'%}" type='text/css' />
	<script type="text/javascript" src="{% static 'jquery-3.3.1/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    	<script type="text/javascript" src="{% static 'popper-1.14.3/popper.min.js' %}"></script>
 	<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.0/slick/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.0/slick/slick-theme.css' %}"/>
<script type="text/javascript" src="{% static 'slick-1.8.0/slick/slick.min.js' %}"></script>
{% endblock %}


<div class="package-carousel carousel-height">
	{% for iter, package in package_data.items %}

	<!-- <div class="col-sm-2 package-card"> -->
	<div class="package-card package-unselected" id="{{iter}}">
		<div>
                {% if image_data|get_at_index:iter == "" %}
               		<img src="{% static 'search_engine/default_blank.png' %}" alt="Card image cap">
                {% else %}
                	<img src="{{ image_data|get_at_index:iter }}" alt="Card image cap">
                {% endif %}
            <!-- <img src="{% static 'search_engine/default_blank.png' %}" alt="Card image cap"> -->
		</div>

		<div class="package-text">
			{{ package.Name }}
		</div>
	<!-- 	<div>
			<button class="btn btn-default package-button" id="{{iter}}">See More</button>
		</div> -->
	</div>
	{% endfor %}
</div>