{% extends "search_engine/header.html" %}

{% block styles %}
{% load staticfiles %}
<link rel='stylesheet' href="{% static 'search_engine/index.css'%}" type='text/css' />
{% endblock %}

{% block content %}

<div class="container max-height align-middle">
	<div class="center-block text-center vertical-align image_fit">
		<!-- <h1 class="home-welcome">Search Engine for Software Packages</h1> -->
		<div class="row">
			<div class="col-sm-12">
				<img class="logo image_fit" src="{% static 'search_engine/swago_logo_mini.png'%}" alt="Card image cap">
			</div>
		</div>

			<form action="/results/" method="get">
			  <input type="text" class="form-control" name="searchInput" placeholder="Search for..."><br>
			  <button type="submit" class="btn btn-default">Search</button>
			</form>
	</div>	
</div>

<!-- <div class="container-fluid">

	<h1 class="center-text"> Search Engine for Software Packages </h1>
		


	<div class="row">
		<div class="center-block">
			<input class="query-bar" name="query" type="text">
		</div>
	</div>


	<div class="row button-row">
		<div class="center-block">
			<input class="btn btn-default search-button" type="button" value="Search">
		</div>
	</div>
</div> -->

{% endblock %}
